<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<!--layout:decorator="layout/main"-->

<head>
  <title>New Provider</title>
</head>
<body>

<th:block layout:fragment="content">



  <form action="#" th:action="@{/provider/updateprovider}" th:object="${provider}" method="post"
        xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="mb-3">
      <input type="hidden" name="p_id" th:field="*{id}">
      <label for="provider">Provider</label>
      <input class="form-control" type="text" id="provider" name="provider" th:field="*{providerName}">
      <span th:if="${#fields.hasErrors('providerName')}" th:errors="*{providerName}"/>
    </div>


    <input type="submit" value="Update & Save" class="btn btn-primary">
  </form>

</th:block>


</body>
</html>
