<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<head>
  <title>Forgot Password</title>
</head>
<body>

<th:block layout:fragment="content">

  <!--Content goes here -->

  <form action="#" th:action="@{/auth/resetpassword}" method="post"
        xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="text" id="email" name="email" placeholder="Email" class="form-control"
             aria-describedby="emailHelp">

    </div>



    <input type="submit" value="Send Email" class="btn btn-primary">
  </form>


</th:block>
</body>
</html>

